<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="csci4100.uoit.ca.csci4100_final_project">

    <uses-sdk android:maxSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo">
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShowNewGameReleasesActivity"
            android:label="@string/title_activity_show_new_game_releases" />
        <activity
            android:name=".GameDetailAndModifyActivity"
            android:label="@string/title_activity_modify_game_list" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@android:style/Theme.Holo.Dialog" />
        <activity
            android:name=".PopupDialogActivity"
            android:label="@string/title_activity_popup_dialog"
            android:theme="@android:style/Theme.Holo.Dialog" />
        <activity
            android:name=".ViewBoughtGameListActivity"
            android:label="@string/title_activity_view_bought_game_list"></activity>
    </application>

</manifest>
